<div class="container">
<div class="row section">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/predat.html#contact">
              <img class="circlebox img-fluid" src="{{portfolio1}}">
              <h2>Chcem predať</h2>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/kupit.html#contact">
              <img class="circlebox img-fluid" src="{{portfolio2}}">
              <h2>Chcem kúpiť</h2>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/financovanie.html">
              <img class="circlebox img-fluid" src="{{portfolio3}}">
              <h2>Financovanie</h2>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/makler.html">
              <img class="circlebox img-fluid" src="{{portfolio4}}">
              <h2>Chcem byť maklérom</h2>
          </a>
      </div>
  </div>
</div>
</div>