<nav class="shadow navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/" id="perex-menu">Domov</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.remax-slovakia.sk/reality/re-max-attractive/volna-pozicia-realitny-makler/" id="map-menu">Kariéra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sk/onas" id="blueprint-menu">O nás</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sk/team.html#adv-search" id="rooms-menu">Náš tím</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sk/poradna/poradna.html#adv-search" id="rooms-menu">Poradňa</a>
        </li>
        <li class="nav-item">
<!--                <a class="nav-link" href="http://www.remax-slovakia.sk/reality/nehnutelnosti-kancelare/354044/re-max-attractive/" id="rooms-menu">Aktuálna ponuka</a>-->
            <a class="nav-link" href="/sk/ponuka.html#paginationc" id="rooms-menu">Aktuálna ponuka</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sk/kontakt.html#adv-search" id="contact-menu">Kontakt</a>
        </li>
    </ul>
    </div>
    <a href="" class="navbar-brand mr-auto"><img class="img-fluid ballon" src="{{brandImg}}" alt=""></a>
  </div>
</nav>